[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datalad = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"
pandas = "*"
nibabel = "*"
pytensor = "*"
mpi4py = "*"
utils = "*"
psutil = "*"
statsmodels = "*"
nilearn = "*"
matplotlib = "*"
transformers = "*"
torch = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
