[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datalad = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"
pandas = "*"
nibabel = "*"

[dev-packages]

[requires]
python_version = "3.12"
